body {
  margin: 0;
  padding: 0;
  background-image: url(./background-image.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
nav {

  color: lightgray;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding:
}
nav ul {
  list-style-type: none;

}
nav ul li {
  justify-content: center;
  color: cadetblue;
  dis
}
  
  


  