/*
Author: Ilija Trajkovski
Date: 31.03.2022
File name: styles.css
*/

/* CSS Reset */


body,
header,
nav,
main,
footer,
h1,
ul,
div,
img {
  margin: 0;
  padding: 0;
  border: 0;
}
/*Style rules for body and images*/

body {
  background-color: #000;
}
/* Style rules for header*/

header {
  position: -webkit-sticky;
  position:sticky;
  top: 0;
  background-color: #000;
  height: 190px;
  z-index: 1;
  
}
header img {
  margin: 0 auto;
}
/* Style rules for navigation area */

nav {
  padding: 1%;
  margin-bottom: 1%;
}

nav ul {
  list-style-type: none;
  text-align: center;
}

nav ul li {
  
  font-size: 1.3em;
  font-family: monospace;
  border-top: 1px solid #fff;
}

nav ul li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 0.5em 1em;
  text-decoration: none;
}
/* Styles rules fo main content */
main {
  clear: left;
  background-color: #fff;
  padding: 2%;
  font-size: 1.25em;
}

h1 {
  text-align: center;
}

#container {
  width: 80%;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
}
#hero {
  clear: both;
  position: relative;
}
#hero h2 {
  position: absolute;
  color: white;
  margin-left: 30px;
}
/* Style rukes for footer content */
footer p {
  font-size: 0.75em;
  text-align: center;
  color: #fff;
  padding: 0 1em;
}
footer p a {
  color: #fff;
  text-decoration: none;
}
#weights,
#cardio,
#training {
  width: 29%;
  float: left;
  margin: 0 2%;
}
#exercises {
  clear: left;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: #f2f2f2;
  padding: 1% 2%;
}
#exercises dt {
  font-weight: bold;
}
#exercises dd {
  padding: 0.5% 1% 2% 0;
}
#contact {
  text-align: center;
}
#contact a {
  color: #666600;
  text-decoration: none;
}
.action {
  font-size: 1.35em;
  color: #666600;
  font-weight: bold;
}
.external-link {
  color: #666600;
  font-weight: bold;
  text-decoration: none;
}
.map {
  border: 8px solid #000;
}
