* {
    margin: 0;
    padding: 0;
    color: black;
}
header {
    background-color: coral;
    padding: 30px;
    float: left;
    width: 100%;
    box-sizing: border-box;
}
.logo {
    background-color: #eb6481;
    float: left;
    padding: 15px;
}
.nav {
    background-color: #d76a50;
    float: right;
    padding: 15px;

}
footer {
    background-color: aquamarine;
    padding: 30px;
    clear: both;
}
aside {
    background-color: darkgoldenrod;
    float: left;
    padding: 15px;
    height: 400px;
    width: 20.7%;
    
}
main {
    background-color: crimson;
    float: left;
    padding: 15px;
    height: 400px;
    width:75%;
    
    
}