.p1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.p2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.p3 {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.p4 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
