* {
    box-sizing: border-box;
    font-weight: bold;
    padding: 15px;
}
body {
background-color: #edf6f8;
display: flex;
flex-wrap: wrap;
}

header {
    background-color: #f2a062;
    padding: 15px;
    width: 100%;
}

main {
    background-color: #8eabc0;
    color: white;
    width: 40%;
    height: 400px;
    
    
}
aside {
    background-color: #f6bd62;
    width: 20%;
    height: 400px;
}
article {
    background-color: #3a5162;
    width: 40%;
    height: 400px;
}
footer {
    background-color: #b7ce3f;
    padding: 15px;
    width: 100%;
}